<body class="about page">
<div class="wrap">
  <!-- Content Start -->
  <div id="main">
    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <h2 class="title">关于我们</h2>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="breadcrumbs pull-right">
              <ul>
                <li>你所在位置:</li>
                <li><a href="index-2.html">首页</a></li>
                <li>关于我们</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Title, Breadcrumb End-->
    <!-- Main Content start-->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="posts-block col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <article>
              <h3 class="title">集团简介</h3>
              <div class="post-content">
                <div class="img-content">
                 <%=image_tag('banner01.png',alt:'')%>
                </div>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;云南泽隆工贸有限公司主要从事各类建筑和工业用密封胶等高分子新材料的研发、生产及经营销售。
                </p>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;云南泽隆工贸有限公司建设有世界先进水平的全自动连续化生产线，检测设备先进，技术力量雄厚。工业密封胶作为公司的战略业务，玉鼠系列工业密封胶产品已被广泛应用于电子电器、太阳能光伏组件、机场跑道、汽车列车、码头防老化等行业，为解决地铁、风能发电、光电幕墙、机场道路防冻等密封粘结和防护提供高品质产品。
                  未来我们将一如既往践行“追求顶端的产品品质”的企业使命，勇于实践，勇担责任，共同创造价值。
                </p>
              </div>
            </article>
          </div>

          <div class="clearfix"></div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 animate_afl d1">
            <div class="portfolio-desc">
              <h3 class="title">认证体系</h3>
              <p>本公司酸性玻璃胶，中性耐候密封胶符合GB/T14683-2003标准规定的G类N形优等品标准生产。硅酮结构密封胶符合GB16776-2005合格品标准产品。另外根据国家强制标准GB18583-2001的有关规定，各类硅酮胶符合GB18583-2001标准的规定。</p>
              <div class="carousel-controls">
                <a class="next" href="#portfolio-carousel" data-slide="next"><i class="icon-angle-right" style="color: #ffffff"></i></a>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-xs-12">
            <div class="row">
              <div id="portfolio-carousel" class="portfolio-carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d2">
                      <div class="portfolio-item">
                        <a href="img/portfolio/portfolio-1.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                          <span class="portfolio-item-hover"></span>
                          <span class="fullscreen"><i class="icon-search"></i></span><%=image_tag('p01.png',alt:'')%>
                        </a>
                        <div class="portfolio-item-title">
                          <a href="single-project.html">YS-880</a>
                          <p>
                            石材工程结构胶
                          </p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d3">
                      <div class="portfolio-item">
                        <a href="img/portfolio/portfolio-2.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                          <span class="portfolio-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><%=image_tag('p02.png',alt:'')%>
                        </a>
                        <div class="portfolio-item-title">
                          <a href="single-project.html">YS-980</a>
                          <p>
                            幕墙硅酮耐候胶
                          </p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d4">
                      <div class="portfolio-item">
                        <a href="img/portfolio/portfolio-3.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                          <span class="portfolio-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><%=image_tag('p03.png',alt:'')%>
                        </a>
                        <div class="portfolio-item-title">
                          <a href="single-project.html">YS-995</a>
                          <p>
                            幕墙硅酮结构胶
                          </p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                      <div class="portfolio-item">
                        <a href="img/portfolio/portfolio-4.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                          <span class="portfolio-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><%=image_tag('p04.png',alt:'')%>
                        </a>
                        <div class="portfolio-item-title">
                          <a href="single-project.html">YS-960</a>
                          <p>
                            高级中性硅酮耐候胶
                          </p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                      <div class="portfolio-item">
                        <a href="img/portfolio/portfolio-5.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                          <span class="portfolio-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><%=image_tag('p05.png',alt:'')%>
                        </a>
                        <div class="portfolio-item-title">
                          <a href="single-project.html">YS-900</a>
                          <p>
                            中性结构硅酮耐候胶
                          </p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                      <div class="portfolio-item">
                        <a href="images/portfolio/portfolio-6.html" class="portfolio-item-link" data-rel="prettyPhoto" >
                          <span class="portfolio-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><%=image_tag('p06.png',alt:'')%>
                        </a>
                        <div class="portfolio-item-title">
                          <a href="single-project.html">793-A</a>
                          <p>
                            中性硅酮耐候胶
                          </p>
                        </div>
                        <div class="clearfix"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="title">文化理念</h3>
            <div class="row team">
              <!-- item 1 -->
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d1">
                <div class="team-member">
                  <div class="team-member-holder">
                    <div class="team-member-image">
          <%=image_tag('zelong03.PNG',alt:'')%>
                    </div>
                    <div class="team-member-meta">
                      <h4 class="team-member-name">专业专注</h4>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End -->
              <!-- item 2 -->
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d2">
                <div class="team-member">
                  <div class="team-member-holder">
                    <div class="team-member-image">
                      <%=image_tag('zelong00.PNG',alt:'')%>
                    </div>
                    <div class="team-member-meta">
                      <h4 class="team-member-name">至臻至诚</h4>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End -->
              <!-- item 3 -->
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d3">
                <div class="team-member">
                  <div class="team-member-holder">
                    <div class="team-member-image">
                      <%=image_tag('zelong01.PNG',alt:'')%>
                    </div>
                    <div class="team-member-meta">
                      <h4 class="team-member-name">公平竞争</h4>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End -->
              <!-- item 4 -->
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 item animate_afc d4">
                <div class="team-member">
                  <div class="team-member-holder">
                    <div class="team-member-image">
                      <%=image_tag('zelong02.PNG',alt:'')%>
                    </div>
                    <div class="team-member-meta">
                      <h4 class="team-member-name">合作共赢</h4>
                    </div>
                  </div>
                </div>
              </div>

          </div>
          <div class="clearfix"></div>
        </div>
          </div>
        <div class="divider"></div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="title">核心价值观</h3>
            <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top: 20px;margin-bottom: 20px">
              <div class="content-box big ch-item bottom-pad-small">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                    <div class="ch-info-front ch-img-1"><i class="icon-fullscreen"></i></div>
                    <div class="ch-info-back">
                      <i class="icon-fullscreen"></i>
                    </div>
                  </div>
                </div>
                <div class="content-box-info">
                  <h3>企业价值观</h3>
                  <h5>创新增强能力、服务创造价值</h5>
                  <p>
                    创新是企业的灵魂。公司自1989年创立以来，从当初的门胶、门漆、等产品发展到现在的工业密制胶。始终坚持创新和进取的精神，公司经营管理水平得以不断提高，核心竞争能力得到增强，使企业一直保持领先地位并逐步实现了与国际先进水平的接轨。
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top: 20px;margin-bottom: 20px">
              <div class="content-box big ch-item bottom-pad-small">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                    <div class="ch-info-front ch-img-1"><i class="icon-eye-open"></i></div>
                    <div class="ch-info-back">
                      <i class="icon-eye-open"></i>
                    </div>
                  </div>
                </div>
                <div class="content-box-info">
                  <h3>企业愿景</h3>
                  <h5>勇于实践，勇担责任，共创价值</h5>
                  <p>
                    通过我们整个团队的精诚合作和不懈努力，为客户提供满意的服务，为社会创造更大的价值，为员工提供充分的发展空间，将公司发展成为行业的领跑者。<br>  &nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top: 20px;margin-bottom: 20px">
              <div class="content-box big ch-item">
                <div class="ch-info-wrap">
                  <div class="ch-info">
                    <div class="ch-info-front ch-img-1"><i class="icon-edit"></i></div>
                    <div class="ch-info-back">
                      <i class="icon-edit"></i>
                    </div>
                  </div>
                </div>
                <div class="content-box-info">
                  <h3>企业使命</h3>
                  <h5>争做行业的领跑者</h5>
                  <p>
                  从整个行业的形势着手，团队的精诚合作，争做行业的领跑者。<br>  &nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>  &nbsp; <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <br>


                  </p>
                </div>
              </div>
            <div class="clearfix"></div>
          </div>
        </div>
        </div>
    </div>
    <!-- Main Content end-->
  </div>
</div>
</div>

