<div id="main">
  <!-- Slider Start-->
  <div class="fullwidthbanner-container">
    <div class="fullwidthbanner rslider">
      <ul>
        <!-- THE FIRST SLIDE -->
        <li data-delay="6000" data-masterspeed="300" data-transition="fade">
          <div class="slotholder"><%=image_tag('banner01.png','data-fullwidthcentering'=>'on',alt:'')%></div>
        </li>
        <!-- THE RESPONSIVE SLIDE -->
        <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
          <%=image_tag('banner02.png','data-fullwidthcentering'=>'on',alt:'')%>
      </ul>
    </div>
  </div>
  <!-- Slider End-->
  <!-- Slogan Start-->
  <div class="slogan bottom-pad-small">
    <div class="container">
      <div class="row">
        <div class="slogan-content">
          <div class="col-lg-9 col-md-9">
            <h2 class="slogan-title">专业至臻 竞合共赢 勇于实践 勇担责任 共同创造价值</h2>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="get-started">
              <%= link_to '了解我们',sides_path(keywords:"about"),class: params[:keywords]=='about'?'current-link':'menu',class:'btn btn-special btn-color pull-right','data-no-turbolink'=>true %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Main Content start-->
  <div class="fullwidthbanner-container">
    <div class="main-content">
      <div class="row">
        <div id="main1">
          <div class="jianjie">
            <div class="tittle"><span>公司简介</span></div>
            <div class="conent_jianjie">
              <div class="gongsi_tu"><%=image_tag('banner01.png',size:'280x220')%></div>
              <div class="gongsi_neir"><p>
                   &nbsp;&nbsp;&nbsp;&nbsp;云南泽隆工贸有限公司建设有世界先进水平的全自动连续化生产线，检测设备先进，技术力量雄厚。工业密封胶作为公司的战略业务，玉鼠系列工业密封胶产品已被广泛应用于电子电器、太阳能光伏组件、机场跑道、汽车列车、码头防老化等行业，为解决地铁、风能发电、光电幕墙、机场道路防冻等密封粘结和防护提供高品质产品。
              </p>
                <p style="margin-top: -5px"> &nbsp;&nbsp;&nbsp;&nbsp;未来我们将一如既往践行“追求顶端的产品品质”的企业使命，勇于实践，勇担责任，共同创造价值。
                ....<a>了解更多>></a></p></div>
            </div>
          </div>
          <div class="zhanshi">
            <div class="tittle"><span>认证展示</span></div>
            <div class="conent_jianjie">
              <DIV id=featureContainer>
                <DIV id=feature>
                  <DIV id=block>
                    <DIV id=botton-scroll>
                      <UL class=featureUL>
                        <LI class=featureBox>
                         <%=image_tag('zhiliang.png',size:'200x245',alt:'Paracletos')%>
                          <!-- /box --></LI>
                        <LI class=featureBox>
                         <%=image_tag('zhiliangen.png',size:'200x245',alt:'Natural Touch Soap')%>
                          <!-- /box --></LI>
                        <LI class=featureBox>
                          <%=image_tag('jiance1.png',size:'200x245',alt:'LRTK')%>
                          <!-- /box --></LI>
                        <LI class=featureBox>
                          <%=image_tag('jiancebagao.png',size:'200x245',alt:'Natalie Reid')%>
                          <!-- /box --></LI>
                        <LI class=featureBox>
                        <%=image_tag('zhiliang.png',size:'200x245',alt:'xixi')%>
                          <!-- /box --></LI>
                        <LI class=featureBox>
                        <%=image_tag('zhiliangen.png',size:'200x245',alt:'Catherine Sherwood')%>
                          <!-- /box -->
                        </LI>
                      </UL>
                    </DIV>
                  </DIV>
                  <A class=prev1 href="javascript:void();">Previous</A>
                  <A class=next1 href="javascript:void();">Next</A>
                </DIV>
                <!-- /feature --></DIV><!-- /featureContainer -->
              <DIV id=wrap><SPAN id=load>LOADING...</SPAN>
              </DIV><!-- /wrap -->
            </DIV><!-- /featured -->


          </div>

          <div class="zhanhui_index">
            <div class="tittle"><span>新闻展会</span></div>
            <div class="conent_zhan_index">
              <ul>
                <li style="text-decoration:underline"><span>2012-12-10</span><a>9月13河北百组织公司旅游</a></li>
                <li style="text-decoration:underline"><span>2012-12-10</span><a>9月13河北百组织公司旅游</a></li>
                <li style="text-decoration:underline"><span>2012-12-10</span><a>9月13河北百组织公司旅游</a></li>
                <li style="text-decoration:underline"><span>2012-12-10</span><a>9月13河北百组织公司旅游</a></li>
                <li style="text-decoration:underline"><span>2012-12-10</span><a>9月13河北百组织公司旅游</a></li>
                <li style="text-decoration:underline"><span>2012-12-10</span><a>9月13河北百组织公司旅游</a></li>
                <li style="text-decoration:underline"><span>2012-12-10</span><a>9月13河北百组织公司旅游</a></li>
            </ul>
            </div>
          </div>
        </div>
          <div style="clear:both"></div>
        </div>

          </div>
        </div>

      </div>
<!-- Main Content end-->
<!-- Recent works start-->
<div class="recentworks">
  <div class="fullwidthbanner-container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 animate_afl d1">
        <div class="portfolio-desc">
          <h3 class="title">产品介绍</h3>
          <p>本公司酸性玻璃胶，中性耐候密封胶符合GB/T14683-2003标准规定的G类N形优等品标准生产。硅酮结构密封胶符合GB16776-2005合格品标准产品。另外根据国家强制标准GB18583-2001的有关规定，各类硅酮胶符合GB18583-2001标准的规定。</p>
          <p>本公司酸性玻璃胶，中性耐候密封胶符合GB/T14683-2003标准规定的G类N形优等品标准生产。硅酮结构密封胶符合GB16776-2005合格品标准产品。另外根据国家强制标准GB18583-2001的有关规定，各类硅酮胶符合GB18583-2001标准的规定。</p>
          <p>本公司酸性玻璃胶，中性耐候密封胶符合GB/T14683-2003标准规定的G类N形优等品标准生产。硅酮结构密封胶符合GB16776-2005合格品标准产品。另外根据国家强制标准GB18583-2001的有关规定，各类硅酮胶符合GB18583-2001标准的规定。</p>
          <div class="carousel-controls">
            <a class="next" href="#portfolio-carousel" data-slide="next"><i class="icon-angle-right" style="color: #ffffff"></i></a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-xs-12">
        <div class="row">
          <div id="portfolio-carousel" class="portfolio-carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d2">
                  <div class="portfolio-item">
                    <a href="img/portfolio/portfolio-1.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                      <span class="portfolio-item-hover"></span>
                      <span class="fullscreen"><i class="icon-search"></i></span><%=image_tag('p01.png',alt:'')%>
                    </a>
                    <div class="portfolio-item-title">
                      <a href="single-project.html">YS-880</a>
                      <p>
                        石材工程结构胶
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d3">
                  <div class="portfolio-item">
                    <a href="img/portfolio/portfolio-2.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                      <span class="portfolio-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><%=image_tag('p02.png',alt:'')%>
                    </a>
                    <div class="portfolio-item-title">
                      <a href="single-project.html">YS-980</a>
                      <p>
                      幕墙硅酮耐候胶
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item animate_afc d4">
                  <div class="portfolio-item">
                    <a href="img/portfolio/portfolio-3.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                      <span class="portfolio-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><%=image_tag('p03.png',alt:'')%>
                    </a>
                    <div class="portfolio-item-title">
                      <a href="single-project.html">YS-995</a>
                      <p>
                        幕墙硅酮结构胶
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                  <div class="portfolio-item">
                    <a href="img/portfolio/portfolio-4.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                      <span class="portfolio-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><%=image_tag('p04.png',alt:'')%>
                    </a>
                    <div class="portfolio-item-title">
                      <a href="single-project.html">YS-960</a>
                      <p>
                        高级中性硅酮耐候胶
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                  <div class="portfolio-item">
                    <a href="img/portfolio/portfolio-5.jpg" class="portfolio-item-link" data-rel="prettyPhoto" >
                      <span class="portfolio-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><%=image_tag('p05.png',alt:'')%>
                    </a>
                    <div class="portfolio-item-title">
                      <a href="single-project.html">YS-900</a>
                      <p>
                        中性结构硅酮耐候胶
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 item">
                  <div class="portfolio-item">
                    <a href="images/portfolio/portfolio-6.html" class="portfolio-item-link" data-rel="prettyPhoto" >
                      <span class="portfolio-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><%=image_tag('p06.png',alt:'')%>
                    </a>
                    <div class="portfolio-item-title">
                      <a href="single-project.html">793-A</a>
                      <p>
                       中性硅酮耐候胶
                      </p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Recent work end-->
</div>