<!-- Content Start -->
  <div id="main">
    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <h2 class="title">产品</h2>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="breadcrumbs pull-right">
              <ul>
                <li>你所在位置:</li>
                <li><a href="index-2.html">首页</a></li>
                <li><a href="#">产品</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Title, Breadcrumb End-->
    <!-- Main Content start-->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="posts-block col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <% @sidecontents.each do |sidecontent| %>
            <article class="post hentry" style="margin-top: 15px">
              <div class="post-image col-md-5">
                  <%=sidecontent.content.html_safe%>
              </div>
              <div class="post-content-wrap col-md-6">
                <header class="post-header">
                  <a href="/sides/<%=sidecontent.id%>"><h3 class="content-title"><%=sidecontent.title%></h3></a>
                  <div class="blog-entry-meta">
                    <div class="blog-entry-meta-author">
                     型号：<%=sidecontent.version%>
                    </div>
                  </div>
                  <div class="blog-entry-meta-comments">
                   产品特性：
                    <p style="text-indent: 2em">
                    <%=sidecontent.feature%>
                    </p>
                  </div>
                </header>
              </div>
              <div class="clearfix"></div>
            </article>
            <div class="blog-divider" style="margin-top: 10px"></div>
                <%end%>
            <div class="pagination-centered">

                <div class="digg_pagination">
                  <%= will_paginate @sidecontents, :previous_label => '«', :next_label => '»' %>
                </div>
            </div>
          </div>
          <div class="sidebar col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <!-- Testimonials Widget Start -->
            <div class="widget ads">
              <h3 class="title">最新产品</h3>
              <div class="ads-img row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <%=image_tag('p01.png',class:'img-thumbnail',alt:'')%>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <%=image_tag('p02.png',class:'img-thumbnail',alt:'')%>
                </div>
              </div>
              <div class="ads-img row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                 <%=image_tag('p03.png',class:'img-thumbnail',alt:'')%>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <%=image_tag('p04.png',class:'img-thumbnail',alt:'')%>
                </div>
              </div>
            </div>
            <!-- Ads Widget End -->
          </div>
          <!-- Sidebar End -->
        </div>
      </div>
    </div>
    <!-- Main Content end-->
  </div>


