<div class="navbar navbar-fixed-top scroll-hide" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid top-bar">
    <div class="pull-right">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown settings hidden-xs">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" style=""><span aria-hidden="true" class="se7en-gear"></span>
            <div class="sr-only">
              Settings
            </div>
          </a>
          <!--<ul class="dropdown-menu">
            <li>
              <a class="settings-link blue" href="javascript:chooseStyle('none', 30)"><span></span>Blue</a>
            </li>
            <li>
              <a class="settings-link green" href="javascript:chooseStyle('green-theme', 30)"><span></span>Green</a>
            </li>
            <li>
              <a class="settings-link orange" href="javascript:chooseStyle('orange-theme', 30)"><span></span>Orange</a>
            </li>
            <li>
              <a class="settings-link magenta" href="javascript:chooseStyle('magenta-theme', 30)"><span></span>Magenta</a>
            </li>
            <li>
              <a class="settings-link gray" href="javascript:chooseStyle('gray-theme', 30)"><span></span>Gray</a>
            </li>
          </ul>-->
        </li>
        <li style="margin-top: 9px;">
          <i class="icon-user icon-2x" style="color: #007aff"></i>
        </li>
        <li class="dropdown user hidden-xs" style="margin-top: 6px;"><a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <%= session[:admin_name]%><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">
              <i class="icon-user"></i>My Account</a>
            </li>
            <li><a href="#">
              <i class="icon-gear"></i>Account Settings</a>
            </li>
            <li><a href="/logins/new" data-no-turbolink>
              <i class="icon-signout">退出</i></a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <button class="navbar-toggle"></button><a  href="#"><h3 class="heading" style="padding: 6px;">泽隆</h3></a>
  </div>
  <div class="container-fluid main-nav clearfix">
    <div class="nav-collapse">

      <ul class="nav">
        <!--       <li>
                 <a class="current" href="index-2.html"><span aria-hidden="true"><i class="icon-gears"></i>System</span></a>
               </li>
               -->

            <li class="dropdown"><a data-toggle="dropdown" href="#">

        <span aria-hidden="true" class="icon-gears"></span>系统</a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "管理员设置", admins_path %>
          </li>
              <li>
                    <%= link_to "参数设置", cfgs_path %>
              </li>
        </ul>
        </li>
        <li><a href="/sidecontents">
          <span aria-hidden="true" class="icon-desktop"></span>产品和文章</a>
        </li>
        <li><a href="/newscents">
          <span aria-hidden="true" class="icon-desktop"></span>新闻</a>
        </li>
        <li><a href="/types">
          <span aria-hidden="true" class="icon-tasks"></span>分类</a>
        </li>
        <li><a href="/advertisements">
          <span aria-hidden="true" class="icon-bullhorn"></span>广告</a>
        </li>
        <li><a href="/messages">
          <span aria-hidden="true" class="icon-envelope"></span>留言</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Navigation -->
<div class="container ">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %>
        <button class="close" data-dismiss="alert" type="button">&times;</button>
      </div>
  <% end %>
</div>
