<div class="container fluid-height clearfix">
  <%= render 'head'%>

  <div class="row">
    <div class="col-lg-12">
      <h2 class="heading"><i class="icon-desktop"></i>&nbsp; 新闻</h2>
      <div class="widget-container fluid-height clearfix" style="padding: 10px;">

        <div class="col-lg-6">

          <p>
            <span class="col-sm-2" style="text-align: right;">标题:</span>
            <%= @newscent.title %>
          </p>
          <p>
            <span class="col-sm-2" style="text-align: right;">摘要:</span>
            <%=@newscent.title %>
          </p>
          <p>
            <span class="col-sm-2" style="text-align: right;">内容:</span>
            <%= @newscent.content %>
          </p>
          <p>
            <span class="col-sm-2" style="text-align: right;">时间:</span>
            <%= @newscent.time %>
          </p>

          <%= link_to '编辑', edit_newscent_path(@newscent) ,class:"btn btn-primary-outline pull-right",'data-no-turbolink'=>true%>
          <%= link_to '返回',  newscents_path,class:"btn btn-primary-outline pull-right" %>
        </div>
      </div>
    </div>
  </div>
</div>